{% load static %} {% load i18n %}

<section id="projects" class="bg-gray-800 py-20 text-center">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-white">{% trans "My Projects" %}</h2>
    <p class="mt-4 text-lg text-gray-400">
      {% trans "Here are some of the projects I've worked on:" %}
    </p>
  </div>

  <div
    class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 p-8 m-2"
  >
    {% if repos %} {% for repo in repos %}
    <div class="bg-gray-700 p-6 rounded-lg shadow-md">
      <h3 class="text-xl font-bold text-white">
        <a href="{{ repo.url }}" target="_blank" class="hover:underline"
          >{{ repo.name }}</a
        >
      </h3>
      <p class="mt-2 text-gray-300">
        {% blocktrans with description=repo.description %} {{ description }} {%endblocktrans %}
      </p>
      <a
        href="{{ repo.url }}"
        class="mt-4 inline-block bg-gray-600 text-white py-2 px-6 rounded-md hover:bg-gray-500 transition duration-300"
        >{% trans "View on GitHub" %}</a
      >
    </div>
    {% endfor %} {% else %}
    <p class="text-gray-400">{% trans "No repositories found." %}</p>
    {% endif %}
  </div>
</section>
