{% load i18n %}
<section id="skills" class="py-8 bg-gray-900">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-6 text-white">
      {% trans "My Tools" %}
    </h2>
    <p class="text-lg text-gray-400 mb-8">
      {% trans "Technologies I specialize in:" %}
    </p>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 w-full p-6"
    >
      <!-- Skill Card -->
      {% for skill in skills %} 
      <div class="bg-gray-700 p-2 rounded-lg shadow-md bg-[{{skill.color}}]">
        {% if skill.text_color %} 
        <span class="text-lg font-semibold text-{{skill.text_color}} px-2 py-1 rounded">
        {% else %} 
        <span class="text-lg font-semibold text-white px-2 py-1 rounded">
        {% endif %}
            {{skill.name}}
        </span>
      </div>
      {%endfor%}
    </div>
  </div>
</section>
