{% load i18n %}
<section id="skills" class="py-8 bg-gray-900">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-6 text-white">{% trans "My Skills" %}</h2>
    <p class="text-lg text-gray-400 mb-8">{% trans "Technologies I specialize in:" %}</p>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
      <div class="skill-item">
        <a href="https://www.python.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/Python-3776AB.svg?style=for-the-badge&logo=Python&logoColor=white"
            alt="Python"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://www.djangoproject.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/Django-092E20.svg?style=for-the-badge&logo=Django&logoColor=white"
            alt="Django"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://www.django-rest-framework.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/Django%20REST%20Framework-ff1709.svg?style=for-the-badge&logo=django&logoColor=white"
            alt="Django REST Framework"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://fastapi.tiangolo.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/FastAPI-009688.svg?style=for-the-badge&logo=FastAPI&logoColor=white"
            alt="FastAPI"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://pandas.pydata.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/pandas-150458.svg?style=for-the-badge&logo=pandas&logoColor=white"
            alt="Pandas"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://numpy.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/NumPy-013243.svg?style=for-the-badge&logo=NumPy&logoColor=white"
            alt="NumPy"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://scikit-learn.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/scikit-learn-F7931E.svg?style=for-the-badge&logo=scikit-learn&logoColor=white"
            alt="Scikit-Learn"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://www.tensorflow.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/TensorFlow-FF6F00.svg?style=for-the-badge&logo=TensorFlow&logoColor=white"
            alt="TensorFlow"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://pytorch.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/PyTorch-EE4C2C.svg?style=for-the-badge&logo=PyTorch&logoColor=white"
            alt="PyTorch"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://docs.celeryproject.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/Celery-37814A.svg?style=for-the-badge&logo=Celery&logoColor=white"
            alt="Celery"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://redis.io/" target="_blank">
          <img
            src="https://img.shields.io/badge/Redis-FF4438.svg?style=for-the-badge&logo=Redis&logoColor=white"
            alt="Redis"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://golang.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/Go-00ADD8.svg?style=for-the-badge&logo=Go&logoColor=white"
            alt="Go"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://www.rust-lang.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/Rust-000000.svg?style=for-the-badge&logo=Rust&logoColor=white"
            alt="Rust"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://ubuntu.com/" target="_blank">
          <img
            src="https://img.shields.io/badge/Ubuntu-E95420.svg?style=for-the-badge&logo=Ubuntu&logoColor=white"
            alt="Ubuntu"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://www.gnu.org/software/bash/" target="_blank">
          <img
            src="https://img.shields.io/badge/GNU%20Bash-4EAA25.svg?style=for-the-badge&logo=GNU-Bash&logoColor=white"
            alt="Bash"
          />
        </a>
      </div>
      <div class="skill-item">
        <a href="https://www.postgresql.org/" target="_blank">
          <img
            src="https://img.shields.io/badge/PostgreSQL-4169E1.svg?style=for-the-badge&logo=PostgreSQL&logoColor=white"
            alt="PostgreSQL"
          />
        </a>
      </div>
    </div>
  </div>
</section>
